/* General Selectors */
button {
  margin: 0.5rem;
  width: 100%;
}

ul {
  list-style: none;
}

/* Classess */
.center {
  text-align: center;
}

.left {
  text-align: left;
}

.service-li {
  width: 15rem;
}

.pet-appointment {
  width: 19rem;
}
