
/* #Button1{
    background-color:rgb(25, 25, 136);
    width: 300px;
    height: 40px;
    text-align: center;
    display: inline-block;
    color: white;

    }

  /* #Button2{
        background-color:rgb(156, 21, 21);
        width: 300px;
        height: 40px;
        text-align: center;
        display: inline-block;
        color: white;
        }  */

    #appointmentsummary {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-top: 2rem;
      }

   .wrapper{
    display: inline-block;
    margin: 0 5px;
    align-items: center;
    display: flex;
    justify-content: space-around;
   }

.summary-page-btn {
  width: 20%;
}
