.topText {
    margin-left: 5rem;
};

.firstDiv {
    margin-left: 1rem;
}
.servicesTop {
    margin-top: 15rem ;
}

.acordion {
    margin-left: 35%;
}

.icon {
    color: white;
    font-size: 2.3rem;
}
.containerStyle {
    align-self: center;
    align-content: center;
    background-color:whitesmoke;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.btn-margin {
    margin-top: 1rem;
}


