.topText {
    margin-left: 5rem;
};


.servicesTop {
    margin-top: 15rem ;
}

.containerStyle {
    align-self: center;
    align-content: center;
    background-color:whitesmoke;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.btn-margin {
    margin-top: 1rem;
};

