.topText {
    margin-left: 5rem;
};

.firstDiv {
    margin-left: 1rem;
}
.loginTop {
    margin-top: 2rem;
    margin-bottom: 2rem;
    align-content: center;
}
.servicesTop {
    margin-top: 5rem;
    align-content: center;
}
.acordion {
    margin-left: 5%;
}

.centered { 
    justify-content: center; 
    margin-top: -2rem;
}

.centeredLogin { 
    margin-right: -1.5rem;
    margin-top: -15rem;
}

.icon {
    color: white;
    font-size: 2.3rem;
}
.btn-left {
    margin-left: 40%
}
.containerStyle {
    align-self: center;
    align-content: center;
    background-color:whitesmoke;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.btn-margin {
    margin-top: 1rem;
    margin-bottom: 10px;
}


