.flex-box {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
}

.confirmation {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.success-page-btn {
  width: 20%;
}
